# `arff2pandas` tutorial

In [1]:
import arff2pandas

## Importing Iris dataset

In [2]:
df = arff2pandas.load('data/iris.arff')

In [3]:
df.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

Compared against pandas `describe()`, `arff2pandas.get_meta()` shows the nominal values. For non-nominal attributes, the `value` column indicates the number of unique values.

In [4]:
arff2pandas.get_meta(df)

,dtype,type,values,min,max,mean,std
sepallength,float64,numeric,35,4.3,7.9,5.843333,0.828066
sepalwidth,float64,numeric,23,2.0,4.4,3.054000,0.433594
petallength,float64,numeric,43,1.0,6.9,3.758667,1.764420
petalwidth,float64,numeric,22,0.1,2.5,1.198667,0.763161
class,object,nominal,"[Iris-setosa, Iris-versicolor, Iris-virginica]",NaN,NaN,NaN,NaN

In [5]:
df.describe()

       sepallength  sepalwidth  petallength  petalwidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

## Date types

In [6]:
df = arff2pandas.load('data/timestamps.arff')

In [7]:
df.head()

            timestamp
0 2001-04-03 12:12:12
1 2001-05-03 12:59:55
2 2001-06-03 10:52:53
3 2017-07-14 18:15:04

In [8]:
arff2pandas.get_meta(df)

,dtype,type,values,min,max,mean,std
timestamp,datetime64[ns],date,4,2001-04-03 12:12:12,2017-07-14 18:15:04,NaN,NaN

In [9]:
df.describe()

                  timestamp
count                     4
unique                    4
top     2001-06-03 10:52:53
freq                      1
first   2001-04-03 12:12:12
last    2017-07-14 18:15:04